<div class="border-left"></div>
<div class="game-container" tabindex="0" @onclick="_gameManager.StartGame" @onkeyup="_gameManager.HandleKeyUp">
    <div class="border-top"></div>
    <div class="sky">
        <BirdComponent Model="_gameManager.Bird" />
    </div>
    <div class="ground"></div>
    @foreach (var pipe in _gameManager.Pipes)
    {
        <PipeComponent Model="pipe" />
    }

</div>
<div class="border-right"></div>
@inject HttpClient _client;

@code {
    GameManager _gameManager;

    protected override void OnInitialized()
    {
        GameState startState = new GameState(500, 730);
        _gameManager = new GameManager(startState);
        _gameManager.OnRender += (o, e) => StateHasChanged();
    }

    void StartGame()
    {
        _gameManager.MainLoop();
    }

}
